@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 120px;
  padding: 50px 10% 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
header h1 a {
  font: bold 24px/1 "arial";
  color: #333;
}
header ul {
  display: flex;
  gap: 20px;
}
header ul#gnb {
  gap: 40px;
}
header ul#gnb a {
  font: bold 14px/1 "arial";
  color: #777;
}
header ul.sns a {
  font-size: 20px;
  color: #888;
}
header .btnCall {
  display: none;
}

/*
반응형 구현 순서
1. 일단 웹버전의 scss구문을 모바일 미디어쿼리 안쪽에 모두 붙여넣기
2.고칠 필요가 없는 구문은 소거법으로 지워나감
3. 모바일 구문에서 꼭 수정해야 되는 것들
----- 넓이값이 고정 px인 요소는 가로 폭이 100%가 되도록 퍼센트로 변환
----- 대신 높이 값은 고정 px값이어도 상관없음
------ 가능하다면 세로관련 높이값과 여백을 줄일수 있으면 줄이는 걸 추천
*/
@media screen and (max-width: 999px) {
  header {
    height: 100px;
    padding: 10px 10%;
  }
  header h1 {
    position: relative;
    top: -2px;
  }
  header h1 a {
    font: bold 20px/1 "arial";
  }
  header ul {
    display: none;
  }
  header .btnCall {
    color: #444;
    font-size: 20px;
  }
}
#visual {
  width: 100%;
  height: calc(100vh - 120px);
  background: #111;
  position: relative;
  display: flex;
  padding: 0px 10vw;
  align-items: center;
}
#visual #video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}
#visual .txt {
  position: relative;
}
#visual .txt h1 {
  font-weight: normal;
  font-size: 8vw;
  color: #fff;
  line-height: 1;
  margin-bottom: 20px;
}
#visual .txt p {
  width: 70%;
  font: 20px/1.2 "arial";
  color: #888;
  margin-bottom: 80px;
}
#visual .txt a {
  display: inline-block;
  width: 300px;
  height: 30px;
  font: 11px/30px "arial";
  color: #bbb;
  border: 1px solid #bbb;
  text-align: center;
}

@media screen and (max-width: 999px) {
  #visual {
    height: calc(100vh - 100px);
  }
  #visual .txt h1 {
    font-size: 12vw;
  }
  #visual .txt p {
    width: 100%;
  }
  #visual .txt a {
    width: 100%;
  }
}
#vids {
  width: 100%;
  padding: 250px 10vw 100px;
}
#vids h1 {
  text-align: center;
  font: bold 22px/1 "arial";
  color: #444;
  margin-bottom: 50px;
}
#vids .wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
#vids .wrap article {
  flex: 1;
}
#vids .wrap article .pic {
  width: 100%;
  height: 130px;
  margin-bottom: 20px;
}
#vids .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#vids .wrap article h2 {
  font: bold 16px/2 "arial";
  color: #555;
  margin-bottom: 10px;
}
#vids .wrap article p {
  font: 13px/1.3 "arial";
  color: #888;
}

@media screen and (max-width: 999px) {
  #vids {
    padding: 180px 10vw 150px;
  }
  #vids .wrap {
    gap: 20px;
  }
  #vids .wrap article {
    flex: calc(50% - 10px);
  }
}
@media screen and (max-width: 639px) {
  #vids {
    padding: 140px 10vw 120px;
  }
  #vids .wrap article {
    width: 100%;
    margin-bottom: 30px;
  }
}
#pics {
  width: 100%;
  padding: 200px 10vw 150px;
  background: #efefef;
}
#pics h1 {
  text-align: center;
  margin-bottom: 50px;
}
#pics .wrap {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
}
#pics .wrap .left {
  width: 30%;
  height: 100%;
  background: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
#pics .wrap .left > * {
  width: 100%;
  text-align: center;
}
#pics .wrap .left i {
  font-size: 120px;
  color: #eee;
  margin-bottom: 30px;
}
#pics .wrap .left h2 {
  font: bold 18px/1 "arial";
  color: #fff;
  margin-bottom: 5px;
}
#pics .wrap .left p {
  font: 14px/1.2 "arial";
  color: #888;
  margin-bottom: 40px;
}
#pics .wrap .left a {
  width: 200px;
  height: 30px;
  border: 1px solid #aaa;
  font: 12px/30px "arial";
  color: #888;
}
#pics .wrap .right {
  width: calc(70% - 20px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  gap: 20px;
}
#pics .wrap .right article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#pics .wrap .right article:nth-of-type(1) {
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  background: #555;
}
#pics .wrap .right article:nth-of-type(2) {
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  background: #555;
}
#pics .wrap .right article:nth-of-type(3) {
  width: 100%;
  height: calc(50% - 10px);
  background: #555;
}

@media screen and (max-width: 999px) {
  #pics {
    padding: 150px 10vw 100px;
  }
  #pics .wrap {
    height: auto;
    flex-wrap: wrap;
  }
  #pics .wrap .left {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
  }
  #pics .wrap .left i {
    font-size: 80px;
  }
  #pics .wrap .right {
    width: 100%;
    height: 600px;
  }
}
@media screen and (max-width: 639px) {
  #pics {
    padding: 120px 10vw 80px;
  }
  #pics .wrap .right {
    height: auto;
  }
  #pics .wrap .right article:nth-of-type(1),
  #pics .wrap .right article:nth-of-type(2),
  #pics .wrap .right article:nth-of-type(3) {
    width: 100%;
    height: 200px;
  }
}
#banner {
  width: 100%;
  height: 40vh;
  background: #111;
  padding: 0px 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#banner h1 {
  font: bold 24px/1 "arial";
  color: #fff;
}
#banner p {
  font: 14px/1.2 "arial";
  color: #ccc;
}

#news {
  width: 100%;
  padding: 200px 10vw 150px;
  background: #ddd;
}
#news h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
#news ul {
  width: 100%;
  position: relative;
}
#news ul::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #aaa;
  position: absolute;
  top: 0;
  left: 50%;
}
#news ul::after {
  content: "";
  display: block;
  clear: both;
}
#news ul li {
  width: calc(50% - 20px);
  padding: 20px 30px;
  background: #fff;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  position: relative;
}
#news ul li::before {
  content: "";
  display: block;
  height: 1px;
  width: 20px;
  background: #aaa;
  position: absolute;
  top: 50%;
}
#news ul li:nth-of-type(odd) {
  float: left;
}
#news ul li:nth-of-type(odd)::before {
  right: -20px;
}
#news ul li:nth-of-type(even) {
  float: right;
  transform: translateY(50%);
  justify-content: flex-end;
}
#news ul li:nth-of-type(even)::before {
  left: -20px;
}
#news ul li:nth-of-type(even) a {
  text-align: right;
}
#news ul li a {
  width: 100%;
  font: 14px/1.2 "arial";
  color: #777;
  margin-bottom: 10px;
}
#news ul li span {
  font: 14px/1 "arial";
  color: orange;
}

/*# sourceMappingURL=style.css.map */
