$tablet: 999px;
$mobile: 639px;

//common
@import 'common/reset';
@import 'common/header';
@import 'common/footer';

//main
@import 'main/visual';
@import 'main/vids';
@import 'main/pics';
@import 'main/banner';
@import 'main/news';
